.slide.cover iframe {
  width: 100%!important;
  min-height: 99%!important;
  height: 99%!important;
  margin: 0% 0 1% 0!important;
  border: none!important;
  z-index: 999;
}

.slide:after {
  visibility: hidden;
}

.slide img {
  height: 80%;
  margin-left: 11%;
}

.slide em {
  color: orange;
}

.slide.shout iframe {
  height: 90%;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}

.slide.shout h2 {
  line-height: 25%;
  vertical-align: middle;
  top: 42%;
}

.slide.shout h3 {
  width: 100%;
  line-height: 25%;
  vertical-align: middle;
  top: 42%;
  position:absolute;
  left:128px;
  right:96px;
  color:#FFF;
  font-size:80px;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
}

.slide h2 small {
  color: silver;
  font-size: 78%;
}

/** Code styles **/
.slide pre {
  font-size: 85%;
  overflow: scroll;
  max-height: 350px;
}

.slide pre code {
  line-height: 37px;
}

pre[class*="language-"] {
  padding: 0em;
}

pre.line-numbers {
  padding-left: 2.8em;
}

.line-numbers-rows > span:before {
  padding-right: 0.5em;
  color: orange;
}

.line-numbers .line-numbers-rows {
  border-color: #C5C4C4;
}

.fancy-header {
  margin-top: 0;
  cursor: pointer;
  font-size: 80%;
  color: gray;
  margin-left: 2.5em;
}

.fancy-header span {
  margin-right: .5em;
}

.fancy.fancyed {
  margin-bottom: 0;
}
.fancy-header span:hover {
  text-decoration: underline;
  color: blue;
}

.fancy code {
  /*color: rgba(0,0,0,0.75);*/
}

.fancy:not(.highlight) code span.token {
  /*opacity: 0.5;*/
}

.fancy.highlight code:not(.highlight),
.fancy.highlight code.highlight span:not(.browser),
.fancy.highlight code span.token.function.highlight span {
  color: rgba(0,0,0,0.2)!important;
}


.fancy.highlight code:not(.highlight) span.token {
  color: inherit;
}

.fancy.highlight code.highlight,
.fancy.highlight code:not(.highlight) span,
.fancy.highlight code:not(.highlight) span.token.highlight {
  opacity: 1;
  color: #f70000;
}
